  .image {
    background-image: url(cafe.jpg);
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .column {
    float: left;
    width: 24%;
    padding: 20px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  h1{
    text-align: center;
    color: rgb(194, 118, 118);
 }
 .open{
  color: rgb(194, 118, 118);
  text-align: center;
 }
nav{
  color: rgb(194, 118, 118);
}
.ind{
  font-style: italic;
}
h5{
  text-align: center;
  color: rgb(194, 118, 118);
}
.cimage {
  background-image: url(cmenu.jpg);
  background-color: #cccccc;
  height: 1080x;
  background-position: center;
  background-size: cover;
  position: relative;
}
.cimage1 {
  background-image: url(cmenu.jpg);
  background-color: #cccccc;
  height: 710px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.i{
  height:auto;
  padding: auto;
  
}
footer{
  
  background: #111;
  height: auto;
  width: 100vw;

  
  color: #fff;
}
.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
  float: right;
  
  }
  .footer-menu ul{
  display: flex;
  }
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  .footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
  }
  .footer-menu ul li a:hover{
  color: #27bcda;
  }
  
  @media (max-width:500px) {
  .footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  }
  }

